.Header--Parent {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text);
}
.Header--Container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
}
.Logo--Container {
  font-size: 1.5rem;
  font-weight: 600;
}

.Logo--Container:hover {
  scale: 1.01;
  transition: 300ms;
  cursor: pointer;
  color: var(--accent);
}
.Header--Links--Container {
  display: flex;
  font-weight: 450;
  justify-content: space-between;
}
.Link {
  padding: .5rem;
  margin: .5rem;
  text-transform: uppercase;

}
.Link:hover {
  scale: 1.01;
  transition: 150ms;
  border-bottom: solid 1px var(--mint-green);
  color: var(--accent);
}

@media screen and (max-width: 600px) {
  .Header--Links--Container {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .Header--Container {
    width: 100%;
  }
  
}
@media screen and (min-width: 600px) {
  .Popup--Container {
    display: none;
  }
}