.About--Container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 8px solid var(--accent);
  border-bottom: 8px solid var(--accent);
}

.Info {
  background-color: var(--accent);
  color: var(--bg);
  height: 100%;
  width: 60%;
}

.Heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: Cambria;
  margin-bottom: 1rem;
}

.Content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.Content div{
  margin: .5rem;
  width: 80%;
  max-width: 600px;
}






@media screen and (max-width: 1000px) {
  .Info {
    width: 100%;
    padding: 2rem;
  }
}
 